.editorWrapper {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
  width: 100%;
  max-height: 500px; /* Set your desired editor height */
  /* overflow: hidden; */
}

.editorWrapper :global(.ql-toolbar.ql-snow) {
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 48px; 
  border-bottom: 1px solid #ccc;
  background: #fff;
  z-index: 2;
  padding: 8px; */
}

.editorWrapper :global(.ql-container) {
  /* position: absolute; */
  /* top: 48px;
  left: 0;
  right: 0;
  bottom: 0; */
  max-height: 400px;
  border: none;
  background: #fff;
  overflow-y: auto;
}

.editorWrapper :global(.ql-editor) {
  min-height: 200px;
  font-size: 16px;
  line-height: 1.5;
  font-family: inherit;
  padding: 12px 15px;
}


/* Heading styles for the editor */
.editorWrapper :global(.ql-editor h1) {
  font-size: 46px;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.editorWrapper :global(.ql-editor h2) {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.editorWrapper :global(.ql-editor h3) {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.editorWrapper :global(.ql-editor h4) {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.editorWrapper :global(.ql-editor h5) {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.editorWrapper :global(.ql-editor h6) {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0.5em;
}

/* Ensure content inherits styles in preview */
.editorWrapper :global(.ql-editor) {
  font-family: inherit;
  line-height: 1.5;
}
